

<div align="center">

    <h2>UNIVERSITY OF EDUCATION, WINNEBA</h2>
    <h3>QUALITY ASSURANCE DIRECTORATE</h3>

    <a class="navbar-brand mynavbar-logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://uew.edu.gh/sites/default/files/uew_logo_web.png" alt="Logo" width="80" height="80"></a>
    <br />
    <h4 align="center"><strong>STUDENTS’ APPRAISAL OF COURSES AND TEACHING</strong></h4>
</div>
<pre>
<strong>Confidentiality Statement:</strong> The information you provide on this form will be kept strictly confidential. 
            Please, do not write your name nor registration number on the form. Please be very frank with your responses; by honestly
            and candidly completing this form, you would be providing the University with valuable feedback for self-assessment and academic 
            progression. 

        </pre>
