<div class="flex-xl-row">
    <div class="col-md-5">

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

            <a class="nav-link text-dark" asp-area="" asp-controller="AppraisalPeriods" asp-action="Create">Email</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Thresholds" asp-action="Create">Threshold</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Logins" asp-action="Create">Users</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Data</a>
        </div>
        <br />
    </div>
