


<h4>Select Name of Lecture and click Continue</h4>

<div class="row">
    <div class="col-md-7">
        <table>
            <thead>
                <tr>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>
</div>