
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SectionB</title>
</head>
<body>
    @Html.Partial("/Views/Partials/_Appraisals.cshtml")

    

    <form action="/" method="post">
        <div class="row">
            <table style="width:auto">
                <tr>
                    <th>SECTION B: Course Content  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Strongly Disagree&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Disagree&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Agree &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Strongly Agree &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>

                <tr>
                    <td>10.	Lecturer provided a comprehensive outline at the beginning of the course </td>
                    <td><input id="Radio1" type="radio" name="10" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="10" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="10" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="10" value="Part Time" /></td>
                </tr>

                <tr>
                    <td>11.	The course content was taught based on the outline provided</td>
                    <td><input id="Radio1" type="radio" name="11" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="11" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="11" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="11" value="Part Time" /></td>
                </tr>
                <tr>
                    <td>12.	The course content has been adequately covered this semester</td>

                    <td><input id="Radio1" type="radio" name="12" value="Part Time" /></td>
                    <td> <input id="Radio1" type="radio" name="12" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="12" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="12" value="Part Time" /></td>
                </tr>
                <tr>
                    <td>13.	The course is relevant to my programme of study</td>
                    <td><input id="Radio1" type="radio" name="13" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="13" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="13" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="13" value="Part Time" /></td>
                </tr>

            </table>

        </div> <br /><br />

        <div class="row">
            <table style="width:auto">
                <tr>
                    <th>SECTION C: Class Attendance  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Strongly Disagree&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Disagree&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Agree &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Strongly Agree &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>

                <tr>
                    <td>14.	The Lecturer attended class regularly </td>
                    <td><input id="Radio1" type="radio" name="14" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="14" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="14" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="14" value="Part Time" /></td>
                </tr>

                <tr>
                    <td>15.	The Lecturer was punctual to class</td>
                    <td><input id="Radio1" type="radio" name="15" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="15" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="15" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="15" value="Part Time" /></td>
                </tr>
                <tr>
                    <td>16.	The Lecturer used class time fully to promote learning</td>

                    <td><input id="Radio1" type="radio" name="16" value="Part Time" /></td>
                    <td> <input id="Radio1" type="radio" name="16" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="16" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="16" value="Part Time" /></td>
                </tr>

            </table>

        </div><br /><br />

        <div class="row">
            <table style="width:auto">
                <tr>
                    <th>SECTION D: Assessment  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Strongly Disagree&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Disagree&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Agree &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Strongly Agree &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>

                <tr>
                    <td>17.	The Lecturer gave adequate number of assignments and quizzes (minimum of 2) </td>
                    <td><input id="Radio1" type="radio" name="17" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="17" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="17" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="17" value="Part Time" /></td>
                </tr>

                <tr>
                    <td>18.	Assignments/quizzes were promptly marked and returned</td>
                    <td><input id="Radio1" type="radio" name="18" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="18" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="18" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="18" value="Part Time" /></td>
                </tr>
                <tr>
                    <td>19.	Assignments/quizzes were subsequently discussed in class or at tutorials</td>

                    <td><input id="Radio1" type="radio" name="19" value="Part Time" /></td>
                    <td> <input id="Radio1" type="radio" name="19" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="19" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="19" value="Part Time" /></td>
                </tr>
                <tr>
                    <td>20.	The Lecturer was genuinely concerned with students’ progress</td>

                    <td><input id="Radio1" type="radio" name="20" value="Part Time" /></td>
                    <td> <input id="Radio1" type="radio" name="20" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="20" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="20" value="Part Time" /></td>
                </tr>

            </table>
        </div><br /><br />

        <div class="row">
            <table style="width:auto">
                <tr>
                    <th>SECTION E: Learning Environment & Teaching Methods  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Strongly Disagree&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Disagree&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Agree &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Strongly Agree &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>

                <tr>
                    <td>21.	The Lecturer demonstrated knowledge of the subject matter </td>
                    <td><input id="Radio1" type="radio" name="21" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="21" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="21" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="21" value="Part Time" /></td>
                </tr>

                <tr>
                    <td>22.	The Lecturer’s delivery was systematic and well organised</td>
                    <td><input id="Radio1" type="radio" name="22" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="22" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="22" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="22" value="Part Time" /></td>
                </tr>
                <tr>
                    <td>23.	The Lecturer clearly presented ideas and concepts of topics</td>

                    <td><input id="Radio1" type="radio" name="23" value="Part Time" /></td>
                    <td> <input id="Radio1" type="radio" name="23" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="23" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="23" value="Part Time" /></td>
                </tr>
                <tr>
                    <td>24.	The Lecturer encouraged critical thinking</td>

                    <td><input id="Radio1" type="radio" name="24" value="Part Time" /></td>
                    <td> <input id="Radio1" type="radio" name="24" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="24" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="24" value="Part Time" /></td>
                </tr>
                <tr>
                    <td>25.	The Lecturer delivered at an appropriate pace/speed</td>

                    <td><input id="Radio1" type="radio" name="25" value="Part Time" /></td>
                    <td> <input id="Radio1" type="radio" name="25" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="25" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="25" value="Part Time" /></td>
                </tr>
                <tr>
                    <td>26.	The Lecturer made room for questions and expression of opinions</td>

                    <td><input id="Radio1" type="radio" name="26" value="Part Time" /></td>
                    <td> <input id="Radio1" type="radio" name="26" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="26" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="26" value="Part Time" /></td>
                </tr>
                <tr>
                    <td>27.	The Lecturer responded positively to students’ questions and concerns</td>

                    <td><input id="Radio1" type="radio" name="27" value="Part Time" /></td>
                    <td> <input id="Radio1" type="radio" name="27" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="27" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="27" value="Part Time" /></td>
                </tr>
                <tr>
                    <td>28.	The Lecturer effectively communicated what s/he was teaching</td>

                    <td><input id="Radio1" type="radio" name="28" value="Part Time" /></td>
                    <td> <input id="Radio1" type="radio" name="28" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="28" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="28" value="Part Time" /></td>
                </tr>
                <tr>
                    <td>29.	The Library is well-stocked with relevant course textbooks, journals, etc.</td>

                    <td><input id="Radio1" type="radio" name="29" value="Part Time" /></td>
                    <td> <input id="Radio1" type="radio" name="29" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="29" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="29" value="Part Time" /></td>
                </tr>
                <tr>
                    <td>30.	Textbook(s) and/or other resources were provided to complement lectures</td>

                    <td><input id="Radio1" type="radio" name="30" value="Part Time" /></td>
                    <td> <input id="Radio1" type="radio" name="30" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="30" value="Part Time" /></td>
                    <td><input id="Radio1" type="radio" name="30" value="Part Time" /></td>
                </tr>
            </table>
        </div><br /><br />

        <a class="nav-link text-dark mybtn-edit" asp-area="" asp-controller="RegularStudents" asp-action="Index"><input id="Button1" type="button" value="Previous" /></a>
        <a class="nav-link text-dark mybtn-edit" asp-area="" asp-controller="RegularStudents" asp-action="SectionF"><input id="Button1" type="button" value="Next" /></a>
    </form>

</body>
</html>
