@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Visit University Site  <a href="https://uew.edu.gh">Here</a>.</p><br /><br />

    <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Lecturers" asp-action="Index">Lecturers</a>

</div>
