@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/body.css" />
<div class="text-center body-page">
    <div class="myhead-group">
        <h1 class="display-4 mybody-head">Welcome</h1>

        <p>Visit University Site  <a class="mypulsate-btn"href="https://uew.edu.gh">Here</a>.</p>
    </div>
    

    <a class="nav-link text-dark mybody-btn mybody-btn_1" asp-area="" asp-controller="Students" asp-action="Index">Students</a>
    <a class="nav-link text-dark mybody-btn mybody-btn_2" asp-area="" asp-controller="Lecturers" asp-action="Index">Lecturers</a>

</div>
